$small: 'screen and (max-width:768px)';
.footer {
    flex: 1;
    bottom: 13vh;
    padding-top: 0.5rem;
    background-color: #000;
    .remainder {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        .member {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bold;
            font-size: 2rem;
            @media #{$small} {
                font-size: 1rem;
            }
            .gitWrapper {
                display: flex;
                margin-left: -1rem;
                .gitImg {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        padding-left: 1rem;
                        width: 55px;
                        height: 33px;
                    }
                }
                .memberTitle {
                    display: flex;
                    font-size: 1.2rem;
                    padding-left: 0.2rem;
                    text-decoration: none;
                    .class1,
                    .class2,
                    .class3,
                    .class4 {
                        text-decoration: none;
                        color: #fff;
                        padding: 0.5rem;
                        &:hover {
                            color: lightgray;
                        }
                        @media #{$small} {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }
    .member {
      display: flex;
      padding: 1rem;
      margin-right: 1.5rem;
      color: #fff;
      font-weight: bold;
      font-size: 2rem;
      border: 8px double black;
      border-radius: 20px;
      @media #{$small} {
        font-size: 1rem;
      }
      .gitImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          padding-left: 1rem;
          width: 60px;
          height: 40px;
        }

        .copyright {
            font-family: 'Lato', sans-serif;
            color: #fff;
            font-size: 1.3rem;
            @media #{$small} {
                font-size: 1rem;
            }
        }
      }
    }
  }
  .sns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    img {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
    .copyright {
      font-family: 'Lobster', cursive;
      padding-top: 1rem;
      color: #fff;
    }
  }
}
