$small: 'screen and (max-width:768px)';
.header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    .logo {
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: 25px;
        font-family: 'Syncopate', sans-serif;
        &:hover {
            color: gray;
            transition: all 0.2s ease-in-out;
        }
        @media #{$small} {
            font-size: 16px;
            padding-left: 1rem;
        }
    }
    .buttonWrapper {
        display: flex;
        align-items: center;
        .signIn,
        .signUp {
            z-index: 999;
            background: transparent;
            outline: none;
            border: none;
            padding: 10px 10px 10px 0px;
            margin-right: 2rem;
            font-size: 21px;
            font-family: 'Noto Sans KR', sans-serif;
            cursor: pointer;
            color: lightgray;
            &:hover {
                color: #fff;
                transition: all 0.2s ease-in-out;
            }
            @media #{$small} {
                font-size: 16px;
            }
        }
    }
}