$small: 'screen and (max-width:768px)';
$medium: 'screen and (max-width:960px)';
body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 89vh;
    .wrapperContent {
        .sectionWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            padding-top: 30px;
            @media #{$small} {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .cdCase {
                position: absolute;
                flex: 1;
                top: 30%;
                left: 8%;
                transform: translate(-50%, -50%);
                width: 30vw;
                height: 45vh;
                visibility: hidden;
                opacity: 0;
                transition: all 1s ease;
                transform: rotate(130deg);
                @media #{$small} {
                    top: 30%;
                    width: 300px;
                    height: 200px;
                    transform: translate(-70%, -50%);
                    transform: rotate(130deg);
                }
                &.active {
                    visibility: visible;
                    transform: rotate(-30deg);
                    opacity: 1;
                    .disk {
                        left: 40%;
                        transition-delay: 1s;
                        animation: rotation 5s linear infinite;
                    }
                    @media screen and (max-width: 768px) {
                        .disk {
                            left: 35%;
                            transition-delay: 0.5s;
                        }
                    }
                }
                .coverImg {
                    flex: 1;
                    position: absolute;
                    width: 400px;
                    height: 400px;
                    box-shadow: 1px 3px 2px 3px rgba(0, 1, 1, 1);
                    img {
                        width: inherit;
                        height: inherit;
                    }
                    .card {
                        width: 200px;
                        height: 200px;
                        background-color: black;
                    }
                    @media #{$small} {
                        width: 250px;
                        height: 250px;
                    }
                }
                .disk {
                    position: absolute;
                    top: 25px;
                    width: 370px;
                    height: 370px;
                    border-radius: 50%;
                    background: linear-gradient(120deg, #00498c, #5e7e9b, #0080ff);
                    box-shadow: 3px 3px 10px rgba(0, 0, 3, 0.5);
                    transition: left 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    @media #{$small} {
                        top: 15px;
                        width: 220px;
                        height: 220px;
                    }
                    .innerDisk {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100px;
                        height: 100px;
                        background-color: #0473a4;
                        border-radius: 50%;
                        @media #{$small} {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            .movingImg {
                position: absolute;
                flex: 1;
                top: 11%;
                left: 38%;
                transform: translate(-50%, -50%);
                width: 800px;
                height: 600px;
                visibility: hidden;
                opacity: 0;
                transition: left 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: rotate(90deg);
                .textWrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(270deg);
                    padding-left: 2rem;
                    @media #{$small} {
                        font-size: 1.5rem;
                        padding-top: 1rem;
                        padding-right: 1rem;
                        background-color: rgba(0, 0, 0, 0.5);
                        border: transparent;
                        box-shadow: 1px 1px 1px 1px black;
                        border-radius: 20px;
                    }
                    h1 {
                        color: #fff;
                        font-size: 5rem;
                        width: 35rem;
                        padding-bottom: 2.5rem;
                        text-align: center;
                        font-family: 'Lato', sans-serif;
                        @media #{$small} {
                            font-size: 2rem;
                            padding-right: 1rem;
                            padding-left: 1rem;
                        }
                    }
                    .start,
                    .share {
                        cursor: pointer;
                        width: calc(11vw + 6px);
                        height: calc(3vw + 6px);
                        color: #000;
                        background-color: #fff;
                        border-radius: 20px;
                        margin: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        font-family: 'Jua', sans-serif;
                        font-size: 2vw;
                         ::after {
                            content: attr(alt);
                            width: 20vw;
                            height: 8vw;
                            background-color: #191919;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        @media #{$small} {
                            width: calc(20vw + 6px);
                            height: calc(8vw + 6px);
                            font-size: 1rem;
                        }
                        &:hover {
                            animation: slidebg 2s linear infinite;
                        }
                    }
                }
                @media #{$medium} {
                    top: 10%;
                    left: 25%;
                    width: 400px;
                    height: 400px;
                    transform: translate(-50%, -50%);
                    transform: rotate(90deg);
                    animation: rotationImgMobile 2s linear;
                }
                @media #{$small} {
                    top: 25%;
                    left: 28%;
                    width: 350px;
                    height: 350px;
                    transform: translate(-50%, -50%);
                    transform: rotate(90deg);
                    animation: rotationImgMobile 2s linear;
                    padding: 2rem;
                }
                &.active {
                    visibility: visible;
                    opacity: 1;
                    transition: left 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    animation: fadeIn 2s ease-in-out;
                    .card {
                        left: 30%;
                        width: 800px;
                        height: 600px;
                        transition-delay: 1.5s;
                        transition: left 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        animation: fadeIn 2s ease-in-out;
                        animation: rotationImgMedium 2s ease-out;
                        @media #{$medium} {
                            animation: rotationImgMobile 2s linear;
                            width: 400px;
                            height: 400px;
                        }
                        @media #{$small} {
                            animation: rotationImgMobile 2s linear;
                            width: 350px;
                            height: 350px;
                        }
                        img {
                            border-radius: 10px;
                            left: 30%;
                            width: 800px;
                            height: 600px;
                            box-shadow: 1px 1px 15px rgba(0, 0, 1, 1);
                            animation: fadeIn 2s ease-in-out;
                            opacity: 1;
                            transform: rotate(270deg);
                            @media #{$medium} {
                                width: 400px;
                                height: 400px;
                            }
                            @media #{$small} {
                                width: 350px;
                                height: 350px;
                            }
                        }
                    }
                    @media #{$small} {
                        .disk {
                            left: 35%;
                            transition-delay: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.wrapBtn {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 768px) {
        bottom: 15vh;
    }
    .btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .fingerBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: -1rem;
            @media #{$small} {
                font-size: 2em;
                padding: 0 1.5rem;
            }
        }
        .skipBtn {
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            margin-bottom: 1rem;
            button {
                display: flex;
                align-items: center;
                &:hover {
                    color: rgb(163, 158, 158);
                }
            }
        }
        button {
            background: transparent;
            color: lightgray;
            height: 60px;
            font-family: 'Jua', sans-serif;
            font-size: 2.5rem;
            padding: 0 4rem;
            cursor: pointer;
            border: none;
            outline: none;
            &:hover {
                color: rgb(163, 158, 158);
            }
            @media #{$small} {
                font-size: 1.6em;
                padding: 0 1.5rem;
            }
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationImgMobile {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        transform: scale(0);
    }
    25% {
        transform: translateY(-100px);
        transform: scale(0.2);
        opacity: 0.5;
    }
    50% {
        transform: rotate(90deg);
        transform: scale(0.3);
        opacity: 1;
    }
}

@keyframes rotationImgMedium {
    0% {
        transform: translateX(-200px);
        opacity: 0.3;
    }
    25% {
        transform: translateX(100px);
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}