/* The loader container */
.loader {
  z-index: 2;

  position: absolute;
  top: 45%;
  left: 50%;

  width: 200px;
  height: 200px;

  margin-top: -100px;
  margin-left: -100px;

  perspective: 200px;
  transform-type: preserve-3d;
}

/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 13px;
  font-weight: 600;

  width: 70px;
  height: 70px;

  margin-top: -35px;
  margin-left: -35px;

  border-radius: 100px;
  background: #fff;
  background-image: 'url(./images/45rpm.svg)';

  z-index: 5;

  transform-type: preserve-3d;
  transform-origin: 50% 50%;

  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);

  animation: dot1 1000ms cubic-bezier(0.49, 0.06, 0.43, 0.85) infinite;
}

.dot:nth-child(2) {
  width: 160px;
  height: 160px;

  margin-top: -80px;
  margin-left: -80px;

  background: #000;
  z-index: 0;

  animation-name: dot2;

  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
  transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
}

@keyframes dot1 {
  0% {
    border-color: #fff;
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
  50% {
    border-color: #fff;
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }
  100% {
    border-color: #fff;
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}

@keyframes dot2 {
  0% {
    border-color: #000;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
  50% {
    border-color: #000;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.8);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
  }
  100% {
    border-color: #000;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
  }
}
