body {
    background: var(--black);
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.columns {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    align-items: center;
    border: 3px solid #000;
    border-radius: 6px;
    margin: 1rem;
    padding: 1rem;
    width: 380px;
}

.column-title {
    color: brown;
}

.task-list::-webkit-scrollbar {
    width: 1em;
}

.item {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 6px;
}

.item.is-dragging {
    background: green;
    border-color: #fff;
}

@media screen and (max-width: 768px) {
    .column {
        width: 210px;
    }
    .column-title {
        font-size: 0.8rem;
    }
}