.common-table {
    width: inherit;
    height: inherit;
    text-align: center;
}

.common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    background: lightgray;
    padding: 0;
    font-size: 16px;
    padding: 20px 5px;
    font-weight: bold;
}

.common-table-row:hover {
    background-color: #eceaea;
}

.common-table-column {
    padding: 20px 5px;
    border-bottom: 0.5px solid lightgray;
}

.common-table-column button {
    margin-right: 0.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .common-table-header-column {
        font-size: 13px;
        padding: 10px 5px;
    }
    .common-table-column {
        padding: 10px 5px;
    }
    .common-table-column button {
        margin: 0.2rem;
        padding: 0.1rem;
        cursor: pointer;
        outline: none;
        font-size: 0.1rem;
    }
}